.appearance_container {
   max-width: 350px;
   margin: 5px auto;
}

.appearance {
   grid-column: appearance;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto auto 20% 10%;
   grid-template-areas:
      "header header header other"
      "player player playlist other"
      "control-panel control-panel playlist other"
      "details details-buttons sidebar other"
      "comments comments sidebar thumbs"
      "comments comments empty thumbs"
}

.appearance>* {
   /* border: 1px solid #ddd;
   background: #fff;     */
   outline: 1px solid var(--hr);
   min-height: 30px;
   cursor: pointer;
   user-select: none;
   position: relative;
   opacity: .8;
   transition: all 80ms ease-in;
}

.appearance>*:not(.empty):hover {
   opacity: 1;
   /* outline-color: #00b7fc; */
   /* box-shadow: 0 0 5px rgba(0, 196, 255, .7); */
   background-color: var(--plugins-section-hover);
}

/* .appearance>*:not(.empty):hover>* {
   color: #00c4ff;
   text-shadow: 0 0 5px rgba(0, 196, 255, .7);
} */

.appearance>.header {
   grid-area: header;
}

.appearance>.player {
   grid-area: player;
   height: 80px;
   color: #efefef;
   /* background: url(/images/appearance_player.png) no-repeat center bottom;
   background-size: 100% auto; */
   background-color: #000;
}

.appearance>.details>span,
.appearance>.details-buttons>span {
   font-size: 1.1em;
}

.appearance>.control-panel {
   grid-area: control-panel;
   height: 40px;
   color: #efefef;
   /* background: url(/images/appearance_player.png) no-repeat center bottom; */
   background-size: 100% auto;
   background-color: #000;
   white-space: nowrap;
}

.appearance>.playlist {
   grid-area: playlist;
}

.appearance>.sidebar {
   grid-area: sidebar;
}

.appearance>.playlist>span,
.appearance>.sidebar>span,
.appearance>.other>span,
.appearance>.thumbs>span {
   /* writing-mode: vertical-rl;
   transform: rotate(180deg); */
   transform: translate(-50%, -50%) rotate(-90deg);
}

.appearance>.details {
   grid-area: details;
   height: 40px;
}

.appearance>.details-buttons {
   grid-area: details-buttons;
   height: 40px;
}

.appearance>.comments {
   grid-area: comments;
   height: 100px;
}

.appearance>.other {
   grid-area: other;
}

.appearance>.thumbs {
   grid-area: thumbs;
}

/* .appearance>.other:not(.empty):hover {
   --hovercolor: coral;
   outline-color: var(--hovercolor);
}

.appearance>.other:not(.empty):hover>* {
   color: var(--hovercolor);
   text-shadow: 0 0 5px rgba(255, 127, 80, .7);
} */

.appearance>*>span {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   font-size: 1.2em;
   color: #8d9399;
}

.appearance .empty {
   opacity: .3;
}

.appearance .empty>span {
   text-decoration: line-through !important;
   opacity: .3;
}
