.appearance_container {
   max-width: 400px;
   margin: 5px auto;
}

.appearance {
   grid-column: appearance;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto 20% 10%;
   grid-template-areas: "header header other""player sidebar other""details sidebar other""comments empty other""footer footer other";
}

.appearance>* {
   /* border: 1px solid #ddd;
   background: #fff;     */
   outline: 1px solid #3d3d3d;
   min-height: 30px;
   cursor: pointer;
   user-select: none;
   position: relative;
   opacity: 0.8;
   transition: all 80ms ease-in;
}

.appearance>*:not(.empty):hover {
   opacity: 1;
   outline-color: deepskyblue;
   /* box-shadow: 0 0 5px rgba(0, 196, 255, 0.7); */
}

.appearance>*:not(.empty):hover>* {
   color: #00c4ff;
   text-shadow: 0 0 5px rgba(0, 196, 255, 0.7);
}

.appearance>.header {
   grid-area: header;
}

.appearance>.player {
   grid-area: player;
   height: 100px;
   color: #efefef;
   background: url(/images/appearance_player.png) no-repeat center bottom;
   background-size: 100% auto;
   background-color: #000;
}

.appearance>.sidebar {
   grid-area: sidebar;
}

.appearance>.sidebar>span,
.appearance>.other>span {
   /* writing-mode: vertical-rl;
   transform: rotate(180deg); */
   transform: translate(-50%, -50%) rotate(-90deg);
}

.appearance>.details {
   grid-area: details;
   height: 40px;
}

.appearance>.comments {
   grid-area: comments;
   height: 100px;
}

.appearance>.footer {
   grid-area: footer;
}

.appearance>.other {
   grid-area: other;
}

.appearance>.other:not(.empty):hover {
   outline-color: coral;
}

.appearance>.other:not(.empty):hover>* {
   color: rgb(255, 127, 80);
   text-shadow: 0 0 5px rgba(255, 127, 80, 0.7);
}

.appearance>*>span {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   font-size: 1.2em;
   color: #8d9399;
}

.appearance .empty>span {
   text-decoration: line-through !important;
   opacity: .3;
}
