body {
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   line-height: 1.3;
   position: relative;
   width: 100%;
   /* height: 100vh; */
}

ul {
   margin: 0;
   padding-left: 1.5em;
}

/* input:is([type=submit], [type=reset], [type=button], textarea) */
input[type=search],
input[type=text],
input[type=number],
input[type=color],
textarea {
   cursor: text;
}

[type=submit],
[type=reset],
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=range],
label, button, select {
   cursor: pointer;
}

button, input, select, textarea {
   margin: 0;
   padding: 3px 5px;
   /* background: transparent; */
   /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:valid, textarea:valid, select:valid {
   outline: none;
}

input:invalid, textarea:invalid, select:invalid {
   outline: 1px solid red;
}

button, [type=submit], [type=reset], input[type=button] {
   font-size: 11px;
   font-weight: 600;
   letter-spacing: .1rem;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: transparent;
   padding: 5px 20px;
   transition: background-color 170ms linear;
}

/* :is(button, [type=submit], [type=reset], input[type=button], select, textarea):hover { chrome >=88 */
button:hover,
[type=submit]:hover,
[type=reset]:hover,
input[type=button]:hover,
select:hover,
textarea:hover {
   outline: 0;
}

/* :is(button, input, select):not([disabled]):focus, textarea:not([disabled]):not([readonly]):focus { chrome >=88 */
button:not([disabled]):focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):not([readonly]):focus {
   border-color: #66afe9;
   outline: 0;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* :is(button, input, select, textarea)[disabled] { chrome >=88 */
[disabled] {
   opacity: .7;
   cursor: not-allowed;
   pointer-events: none;
}

label, legend, textarea, iframe {
   display: block;
   width: 100%;
   box-sizing: border-box;
}

legend {
   cursor: default;
   width: fit-content;
}

label, legend {
   font-weight: normal;
}

.hide {
   /* display: none !important; */
   visibility: collapse !important;
   height: 0 !important;
   margin: 0 !important;
   padding: 0 !important;
}
