body {
   min-width: 340px;
   background-color: #1c1c1c;
   color: slategrey;
}

form ul {
   margin: 0;
   padding: 0;
}

hr {
   margin: 0 auto 1em;
   border-top: 1px solid #3d3d3d;
}

input[type=number] {
   width: 3em;
}

.button,
button,
input,
select,
textarea {
   background-color: #171717;
   border: 1px solid #2d2d2d;
}

div.between {
   justify-content: space-between;
   display: flex;
   flex-direction: row;
}

div.between>a {
   align-self: center;
}

.container {
   display: grid;
   grid-gap: 15px;
   /* grid-template-columns: 300px auto; */
   grid-template-columns: [left appearance] 1fr [right opts];

   margin: 0 10px 5px;
}

.item {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-areas: "info opt""ul ul";
   /* grid-template-columns: [left info] 1fr [right opt]; */
   padding-top: 3px;
}

.item:not(:last-child) {
   border-bottom: 1px solid #353535;
}

li>ul>li {
   display: grid;
   /* grid-template-columns: 1fr auto; */
   grid-template-columns: [left label] 1fr [right input];
   line-height: 25px;
   padding-left: 0.5em;
}

/* li>ul>li:not(:first-child) { */
li>ul>li {
   border-top: 1px dashed #343a45;
}

/* .active li:nth-child(even) {
   background: #232323;
}

li>ul {
   background-color: #1c1c1c;
} */


#plugins #header:not(:empty):before {
   content: "header";
}

#plugins #player:not(:empty):before {
   content: "player";
}

#plugins #sidebar:not(:empty):before {
   content: "sidebar";
}

#plugins #details:not(:empty):before {
   content: "details";
}

#plugins #comments:not(:empty):before {
   content: "comments";
}

#plugins #footer:not(:empty):before {
   content: "footer";
}

#plugins #other:not(:empty):before {
   content: "other";
}


[data-dependent] {
   transition: background-color 500ms ease-out;
}

[data-dependent].hide {
   background-color: #2196f3;
}

.info {
   grid-column: info;
   align-self: center;
}

.opt {
   grid-column: opt;
   align-self: center;
   justify-self: center;
}

.opt+ul,
.info+ul {
   grid-column: ul;
   /* align-self: center;
   justify-self: center; */
    margin-bottom: 10px;
}

#plugins>.collapse:before,
#plugins>.collapse:after {
   opacity: .2;
}

#plugins>.collapse:before {
   padding-left: 5px;
}

#plugins>.collapse:after {
   content: "+";
   position: absolute;
   top: 0;
   line-height: 1.5em;
}

#plugins {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 15px;
}

#plugins>* {
   position: relative;
   margin-bottom: 8px;
}

#plugins>*:empty,
#plugins>*:not(.active) {
   display: none;
}

#plugins>*:before {
   cursor: pointer;
   display: block;
   /* background-color: cornflowerblue; */
   text-transform: uppercase;
   color: #D5DDE5;
   font-size: 15px;
   font-family: monospace;
   text-indent: 5px;
}

li>label {
   grid-column: label;
   align-self: center;
   color: #8c8b8b;
}

li>label>font {
   padding-right: .2em;
   /* color: slategrey; */
   /* color: #8c8b8b; */
   color: #343a45;
}

li>label+* {
   grid-column: input;
   align-self: center;
   justify-self: center;
}
