:root {
   /* --bg: #1c1c1c;
   --bg: oldlace;
   --fg: slategrey; */
   --input-bg: #fff;
   --input-border: #cccccc;
   --btn-bg: silver;
   --btn-fg: #fff;
   --li-item: #e0e0e0;
   --hr: #B7B7B7;
   --href: #00b7fc;

   --plugins-before: slategrey;
   --plugins-section-hover: silver;
   --label1: initial;
   --label1: #343a45;
}

/* turn on dark mode by default */
/* @media (prefers-color-scheme:dark) { */
   :root {
      --bg: #1c1c1c;
      --fg: slategrey;
      --input-bg: #171717;
      --input-border: #2d2d2d;
      --li-item: #353535;
      --hr: #3d3d3d;
      --btn-bg: #3e3e3e;

      --plugins-before: #D5DDE5;
      --plugins-section-hover: #303030;
      --label1: initial;
      --label2: #8c8b8b;
   }
/* } */


body {
   background: var(--bg);
   color: var(--fg);
   /* -webkit-filter: invert(100%); */
}

/* gray background */
body:after {
   bottom: 0;
   box-shadow: inset 0 0 378px 119px rgba(0, 0, 0, .10);
   content: ' ';
   display: block;
   left: 0;
   pointer-events: none;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 1000;
}

a {
   /* color: #3d3d3d; */
   color: var(--href);
}

hr {
   border-width: 0;
   border-top: 1px solid var(--hr);
}

button, input, select, textarea {
   background-color: var(--input-bg);
   border: 1px solid var(--input-border);
}

/* button, [type=submit], [type=reset], [type=button] {
   background-color: var(--btn-bg);
   color: var(--btn-fg);
} */

button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
   background-color: var(--href);
   color: var(--btn-fg);
}

/* scrollbar */

::-webkit-scrollbar {
   width: 10px;
   height: 8px;
}
::-webkit-scrollbar-button {
   width: 0;
   height: 0;
}
::-webkit-scrollbar-thumb {
   border: 0;
   /* border-radius: 3px; */
   background: #888;
}
::-webkit-scrollbar-thumb:hover {
   background: #666;
}
::-webkit-scrollbar-thumb:active {
   background: #444;
}
::-webkit-scrollbar-track {
   border: 0;
   border-radius: 0;
   background: #e1e1e1;
}
/* ::-webkit-scrollbar-track:hover {
   background: #666;
} */
/*::-webkit-scrollbar-track:active {
   background: #333;
}*/
::-webkit-scrollbar-corner {
   background: transparent;
}

@media (prefers-color-scheme:dark) {
   body:after {
      display: none;
   }
   ::-webkit-scrollbar-thumb {
      background: #333;
   }
   ::-webkit-scrollbar-thumb:hover {
      background: #666;
   }
   ::-webkit-scrollbar-thumb:active {
      background: #888;
   }
   ::-webkit-scrollbar-track {
      background: #222;
   }
   /* ::-webkit-scrollbar-track:hover {
      background: #666;
   } */
   /* ::-webkit-scrollbar-track:active {
      background: #333;
   } */
}
